* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.74)
    url(./IN-en-20220926-popsignuptwoweeks-perspective_alpha_website_large.jpg)
    no-repeat center center/cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  height: 200px;
  width: 200px;
  fill: red;
  position: absolute;
  top: 30px;
  left: 40px;
}

.container {
  height: 70vh;
  width: 100vw;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container img {
  height: 30vh;
  width: 12vw;
  transition: all 0.5s ease;
  opacity: 0.5;
}

.container img:hover {
  transform: scale(1.5);
  width: 14vw;
  opacity: 1;
  z-index: 10;

}

@media screen and (max-width: 800px) {
  .logo {
    height: 100px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container img {
    height: 20vh;
    width: 24vw;
  }

  .container img:hover {
    width: 22vw;
  }
}